.baap {
  background-color: orange;
  height : 100%
}

.center {
  text-align: center;
}

.submitBtn {
  background-color: skyblue;
}



.displayList {
  width: 50%;
  text-align: center;
}

.right {
  color : red;
}


/* Control the left side */
/* .left {
  left: 0;
  background-color: orange;
} */ 

/* Control the right side */
/* .right {
  right: 0;
  background-color: red;
}  */